.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-message{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }